<Context>
  <Resource name="ebolids" type="javax.sql.DataSource" auth="Container"
            maxActive="10" maxIdle="3" maxWait="10000"
            username="root" password="root" 
            driverClassName="com.mysql.jdbc.Driver"
            url="jdbc:mysql://localhost:3306/ebolidb" />
</Context>